openapi: 3.0.1
info:
  description: |
    SumUp’s REST API operates with `application/json` HTTP requests and response. The request bodies are sent through resource-oriented URLs and use the standard HTTP response codes.
    For testing our APIs make sure you have a SumUp Profile (you can create one [here](https://me.sumup.com)). To activate your SumUp Profile [follow these steps](https://help.sumup.com/en-GB/articles/7gSOGSm2wEwIHyAvjitrLF).

    Once you have an active SumUp Profile, go to [developer.sumup.com](https://developer.sumup.com/) and click on “Create” On the top right side, click on “Profile” followed by “Test profiles” Select your business country Click “Create” Copy and store safely the user name (format: 32 characters@developers.sumup.com) and randomly generated unique password.

    Note: You will not be able to access your password afterwards make sure to store it safely before dismissing the message

    Note: SumUp merchants are able to create up to 20 test profiles

    When you receive your test profile you can create your [client credentials](https://developer.sumup.com/docs/register-app/#3-create-oauth-client-credentials) and process different requests with real payment instruments, without charging them.
    Legal note: We reserve the right to change, modify, or remove the contents of this Website and SumUp APIs at any time without notice.
  title: SumUp REST API
  version: 1.0.0
servers:
  - description: Production server
    url: 'https://api.sumup.com'
paths:
  /authorize:
    get:
      operationId: Authorize
      summary: Request authorization from users
      description: |
        Request authorization from users and grant your application access to resources associated with the user's profile.
      parameters:
        - name: response_type
          in: query
          description: The type of the expected response. The value must be `code` to indicate that you expect to receive an authorization code.
          schema:
            type: string
          example: code
        - name: client_id
          in: query
          description: 'The client ID of your application that was generated when you [registered it](https://developer.sumup.com/docs/register-app/).'
          schema:
            type: string
          example: fOcmczrYtYMJ7Li5GjMLLcUeC9dN
        - name: redirect_uri
          in: query
          description: 'The URI to which the merchant user is redirected after authorizing your application to access their user''s profile data and to which the authorization code is sent. The value must match exactly one of the [registered URIs](https://developer.sumup.com/docs/register-app#3-create-oauth-client-credentials) for your application.'
          schema:
            type: string
          example: 'https://sample-app.example.com/callback'
        - name: scope
          in: query
          description: 'A space-separated list of scopes for which you request authorization. If you don''t specify any scopes in the request, your application will be granted authorization for the default scopes.'
          schema:
            type: string
          example: payments
        - name: state
          in: query
          description: 'A unique local state that can be used for correlating requests and responses and for preventing [cross-site request forgery](https://tools.ietf.org/html/rfc6749#section-10.12).'
          schema:
            type: string
          example: 2cFCsY36y95lFHk4
      responses:
        '200':
          description: No Content
          content:
            application/json:
              examples:
                NoBody:
                  value: {}
              schema:
                type: object
      tags:
        - Authorization
  /token:
    post:
      operationId: CreateToken
      summary: Generate a token
      description: |
        Generate a token or a refresh token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                access_token:
                  description: Successfully created access token
                  value:
                    access_token: 565e2d19cef68203170ddadb952141326d14e03f4ccbd46daa079c26c910a864
                    expires_in: 3600
                    refresh_token: d180031bfe9bac36c336e5746637810272546865e9c9586012f462a56f3fe9af
                    token_type: Bearer
                refresh_token:
                  description: Successfully created access token with the refresh token
                  value:
                    access_token: ec410d10ad7f06d3c2598473c9cd61189abcc016900a9938068542bcf9754073
                    expires_in: 3600
                    refresh_token: d180031bfe9bac36c336e5746637810272546865e9c9586012f462a56f3fe9af
                    scope: payments user.app-settings transactions.history user.profile_readonly
                    token_type: Bearer
              schema:
                type: object
                properties:
                  access_token:
                    description: The access token that you need to use in your requests to the SumUp API.
                    type: string
                    example: ec410d10ad7f06d3c2598473c9cd61189abcc016900a9938068542bcf9754073
                  expires_in:
                    description: The validity of the access token in seconds.
                    type: integer
                    example: 3600
                  refresh_token:
                    description: The refresh token provided in the request call
                    type: string
                    example: d180031bfe9bac36c336e5746637810272546865e9c9586012f462a56f3fe9af
                  scope:
                    description: List of authorization scopes granted to your access token.
                    type: string
                    example: payments user.app-settings transactions.history user.profile_readonly
                  token_type:
                    description: The type of the token. The value is always `Bearer`.
                    type: string
                    example: Bearer
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Invalid_Parameter:
                  description: A parameter is invalid or expired.
                  value:
                    error: invalid_grant
                    error_description: code parameter invalid or expired
                Missing_Parameter:
                  description: A parameter is missing in the request.
                  value:
                    error: invalid_request
                    error_description: code parameter is missing
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Authorization
  /v0.1/checkouts:
    get:
      operationId: ListCheckouts
      summary: List checkouts
      description: Lists created checkout resources according to the applied `checkout_reference`.
      parameters:
        - name: checkout_reference
          in: query
          description: Filters the list of checkout resources by the unique ID of the checkout.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckoutSuccess'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Checkouts
      x-codegen:
        method_name: list
      x-scopes:
        - payments
    post:
      operationId: CreateCheckout
      summary: Create a checkout
      description: |
        Creates a new payment checkout resource. The unique `checkout_reference` created by this request, is used for further manipulation of the checkout.

        For 3DS checkouts, add the `redirect_url` parameter to your request body schema.

        Follow by processing a checkout to charge the provided payment instrument.
      requestBody:
        content:
          application/json:
            examples:
              Checkout:
                description: Standard request body for creating a checkout
                value:
                  amount: 10.1
                  checkout_reference: f00a8f74-b05d-4605-bd73-2a901bae5802
                  currency: EUR
                  date: '2020-02-29T10:56:56+00:00'
                  description: Purchase
                  id: 2b79757a-de87-4a2e-90e4-b17c947c730d
                  merchant_code: MDUDGLR9
                  merchant_name: John Doe LTD
                  pay_to_email: user@example.com
                  redirect_url: 'https://sumup.com'
                  status: PAID
              Checkout3DS:
                description: Create a 3DS checkout
                value:
                  amount: 10.1
                  checkout_reference: f00a8f74-b05d-4605-bd73-2a901bae5802
                  currency: EUR
                  customer_id: 831ff8d4cd5958ab5670
                  description: Purchase
                  merchant_code: MH4H92C7
                  pay_to_email: user@example.com
                  redirect_url: 'https://mysite.com/completed_purchase'
                  return_url: 'http://example.com/'
              CheckoutAPM:
                description: Create an Alternative Payment Method checkout
                value:
                  amount: 10.1
                  checkout_reference: f00a8f74-b05d-4605-bd73-2a901bae5802
                  currency: EUR
                  merchant_code: MH4H92C7
                  redirect_url: 'https://mysite.com/completed_purchase'
            schema:
              $ref: '#/components/schemas/CheckoutCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              examples:
                Checkout:
                  description: Standard response body for a successfully created checkout
                  value:
                    amount: 10.1
                    checkout_reference: 8ea25ec3-3293-40e9-a165-6d7f3b3073c5
                    currency: EUR
                    customer_id: 831ff8d4cd5958ab5670
                    date: '2020-02-29T10:56:56+00:00'
                    description: My Checkout
                    id: 88fcf8de-304d-4820-8f1c-ec880290eb92
                    mandate:
                      merchant_code: MDASYTPD
                      status: active
                      type: recurrent
                    merchant_code: MCNPLE22
                    merchant_country: DE
                    pay_to_email: user@example.com
                    return_url: 'http://example.com'
                    status: PENDING
                    transactions:
                      - amount: 10.1
                        auth_code: '012345'
                        currency: EUR
                        entry_mode: CUSTOMER_ENTRY
                        id: 410fc44a-5956-44e1-b5cc-19c6f8d727a4
                        installments_count: 1
                        internal_id: 0
                        merchant_code: MH4H92C7
                        payment_type: ECOM
                        status: SUCCESSFUL
                        timestamp: '2020-02-29T10:56:56.876Z'
                        tip_amount: 3
                        transaction_code: TEENSK4W2K
                        vat_amount: 6
                    valid_until: '2020-02-29T10:56:56+00:00'
                Checkout3DS:
                  description: Response body for a successfully created 3DS checkout
                  value:
                    amount: 10.1
                    checkout_reference: 8ea25ec3-3293-40e9-a165-6d7f3b3073c5
                    currency: EUR
                    customer_id: 831ff8d4cd5958ab5670
                    date: '2020-02-29T10:56:56+00:00'
                    description: My Checkout
                    id: 88fcf8de-304d-4820-8f1c-ec880290eb92
                    pay_to_email: user@example.com
                    redirect_url: 'https://mysite.com/completed_purchase'
                    return_url: 'http://example.com'
                    status: PENDING
                    transactions:
                      - amount: 10.1
                        auth_code: '012345'
                        currency: EUR
                        entry_mode: CUSTOMER_ENTRY
                        id: 410fc44a-5956-44e1-b5cc-19c6f8d727a4
                        installments_count: 1
                        internal_id: 0
                        merchant_code: MH4H92C7
                        payment_type: ECOM
                        status: SUCCESSFUL
                        timestamp: '2020-02-29T10:56:56.876Z'
                        tip_amount: 3
                        transaction_code: TEENSK4W2K
                        vat_amount: 6
                    valid_until: '2020-02-29T10:56:56+00:00'
                CheckoutAPM:
                  description: 'Response body for APMs, including Sofort, iDeal, ...'
                  value:
                    amount: 10.1
                    checkout_reference: 8ea25ec3-3293-40e9-a165-6d7f3b3073c5
                    currency: EUR
                    date: '2021-06-29T11:08:36.000+00:00'
                    description: My Checkout
                    id: 88fcf8de-304d-4820-8f1c-ec880290eb92
                    merchant_code: MCNPLE22
                    merchant_country: DE
                    merchant_name: My company
                    pay_to_email: user@example.com
                    purpose: CHECKOUT
                    redirect_url: 'https://sumup.com'
                    return_url: 'http://example.com'
                    status: PENDING
                    transactions:
                      - amount: 10.1
                        auth_code: '012345'
                        currency: EUR
                        entry_mode: CUSTOMER_ENTRY
                        id: 410fc44a-5956-44e1-b5cc-19c6f8d727a4
                        installments_count: 1
                        internal_id: 0
                        merchant_code: MH4H92C7
                        payment_type: ECOM
                        status: SUCCESSFUL
                        timestamp: '2020-02-29T10:56:56.876Z'
                        tip_amount: 3
                        transaction_code: TEENSK4W2K
                        vat_amount: 6
              schema:
                $ref: '#/components/schemas/Checkout'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Missing_Parameter:
                  description: A required parameter is missing.
                  value:
                    error_code: MISSING
                    message: Validation error
                    param: pay_to_email
              schema:
                $ref: '#/components/schemas/ErrorExtended'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have the required permission for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: checkout_payments_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                Existing_Checkout:
                  description: A resource with the specified parameters already exists on the server.
                  value:
                    error_code: DUPLICATED_CHECKOUT
                    message: Checkout with this checkout reference and pay to email already exists
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Checkouts
      x-codegen:
        method_name: create
      x-scopes:
        - payments
  '/v0.1/checkouts/{id}':
    delete:
      operationId: DeactivateCheckout
      summary: Deactivate a checkout
      description: Deactivates an identified checkout resource. If the checkout has already been processed it can not be deactivated.
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                DeletedCheckout:
                  description: Response body for a successfully deactivated checkout
                  value:
                    amount: 2
                    checkout_reference: f00a8f74-b05d-4605-bd73-2a901bae5802
                    currency: EUR
                    date: '2020-02-29T10:56:56+00:00'
                    description: Deletion example
                    id: 817340ce-f1d9-4609-b90a-6152f8ee267j
                    merchant_code: MH4H92C7
                    merchant_name: Sample Merchant
                    pay_to_email: user@example.com
                    purpose: CHECKOUT
                    status: EXPIRED
                    transactions: []
                    valid_until: '2020-02-29T10:56:56+00:00'
              schema:
                description: Details of the deleted checkout.
                type: object
                properties:
                  amount:
                    description: Amount of the payment.
                    type: number
                    format: float
                  checkout_reference:
                    description: Unique ID of the payment checkout specified by the client application when creating the checkout resource.
                    type: string
                    maxLength: 90
                  currency:
                    $ref: '#/components/schemas/Currency'
                  date:
                    description: 'Date and time of the creation of the payment checkout. Response format expressed according to [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) code.'
                    type: string
                    format: date-time
                    example: '2020-02-29T10:56:56+00:00'
                    readOnly: true
                  description:
                    description: 'Short description of the checkout visible in the SumUp dashboard. The description can contribute to reporting, allowing easier identification of a checkout.'
                    type: string
                  id:
                    description: Unique ID of the checkout resource.
                    type: string
                    readOnly: true
                  merchant_code:
                    description: Unique identifying code of the merchant profile.
                    type: string
                  merchant_country:
                    description: The merchant's country
                    type: string
                  merchant_name:
                    description: Merchant name
                    type: string
                  pay_to_email:
                    description: Email address of the registered user (merchant) to whom the payment is made. It is highly recommended to use `merchant_code` instead of `pay_to_email`.
                    type: string
                    format: email
                  purpose:
                    description: Purpose of the checkout creation initially
                    type: string
                    enum:
                      - SETUP_RECURRING_PAYMENT
                      - CHECKOUT
                  status:
                    description: Current status of the checkout.
                    type: string
                    enum:
                      - EXPIRED
                    readOnly: true
                  transactions:
                    description: List of transactions related to the payment.
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/TransactionMixinBase'
                        - $ref: '#/components/schemas/TransactionMixinCheckout'
                    readOnly: true
                    uniqueItems: true
                  valid_until:
                    description: 'Date and time of the checkout expiration before which the client application needs to send a processing request. If no value is present, the checkout does not have an expiration time.'
                    type: string
                    format: date-time
                    example: '2020-02-29T10:56:56+00:00'
                    nullable: true
                    readOnly: true
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                Checkout_Processed:
                  description: The identified checkout resource is already processed.
                  value:
                    error_code: CHECKOUT_PROCESSED
                    message: Checkout is already processed
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Checkouts
      x-codegen:
        method_name: deactivate
      x-scopes:
        - payments
    get:
      operationId: GetCheckout
      summary: Retrieve a checkout
      description: Retrieves an identified checkout resource. Use this request after processing a checkout to confirm its status and inform the end user respectively.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSuccess'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Checkouts
      x-codegen:
        method_name: get
      x-scopes:
        - payments
    parameters:
      - name: id
        in: path
        description: Unique ID of the checkout resource.
        required: true
        schema:
          type: string
    put:
      operationId: ProcessCheckout
      summary: Process a checkout
      description: |
        Processing a checkout will attempt to charge the provided payment instrument for the amount of the specified checkout resource initiated in the `Create a checkout` endpoint.

        Follow this request with `Retrieve a checkout` to confirm its status.
      requestBody:
        description: Details of the payment instrument for processing the checkout.
        content:
          application/json:
            examples:
              ProcessBancontact:
                description: Process a checkout with Bancontact
                value:
                  payment_type: bancontact
                  personal_details:
                    address:
                      country: BE
                    email: user@example.com
                    first_name: John
                    last_name: Doe
              ProcessBoleto:
                description: Process a checkout with Boleto
                value:
                  payment_type: boleto
                  personal_details:
                    address:
                      city: São Paulo
                      country: BR
                      line1: 'Rua Gilberto Sabino, 215'
                      postal_code: 05425-020
                      state: SP
                    email: user@example.com
                    first_name: John
                    last_name: Doe
                    tax_id: 423.378.593-47
              ProcessCard:
                description: Process a checkout with a card
                value:
                  card:
                    cvv: '123'
                    expiry_month: '01'
                    expiry_year: '2023'
                    last_4_digits: '3456'
                    name: John Doe
                    number: '1234567890123456'
                    type: VISA
                    zip_code: '12345'
                  installments: 1
                  mandate:
                    type: recurrent
                    user_agent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.104 Safari/537.36'
                    user_ip: 172.217.169.174
                  payment_type: card
              ProcessSofort:
                description: Process a checkout with Sofort
                value:
                  payment_type: sofort
                  personal_details:
                    address:
                      country: DE
                    email: user@example.com
                    first_name: John
                    last_name: Doe
              ProcessToken:
                description: Process a checkout with a token
                value:
                  customer_id: MEDKHDTI
                  installments: 1
                  payment_type: card
                  token: ba85dfee-c3cf-48a6-84f5-d7d761fbba50
              ProcessiDeal:
                description: Process a checkout with iDeal
                value:
                  payment_type: ideal
                  personal_details:
                    address:
                      country: NL
                    email: user@example.com
                    first_name: John
                    last_name: Doe
            schema:
              $ref: '#/components/schemas/CheckoutProcessMixin'
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                CheckoutSuccessBancontact:
                  description: Successfully processed checkout with Bancontact
                  value:
                    next_step:
                      full: 'https://r3.girogate.de/ti/simbcmc?tx=624788471&rs=5MioXoKt2Gwj9dLgqAX1bMRBuT5xTSdB&cs=697edacdd9175f3f99542500fa0ff08280b66aaff3c2641a2e212e4b039473cc'
                      mechanism:
                        - browser
                      method: GET
                      payload:
                        cs: 697edacdd9175f3f99542500fa0ff08280b66aaff3c2641a2e212e4b039473cc
                        rs: 5MioXoKt2Gwj9dLgqAX1bMRBuT5xTSdB
                        tx: '624788471'
                      url: 'https://r3.girogate.de/ti/simbcmc'
                CheckoutSuccessBoleto:
                  description: Successfully processed checkout with Boleto
                  value:
                    amount: 10.1
                    boleto:
                      barcode: '34191090081790614310603072340007886840000000200'
                      url: 'https://checkouts.sample.com/v0.1/checkouts/2e7a36cc-7897-446b-a966-952ab5f049ea/boleto'
                    checkout_reference: f00a8f74-b05d-4605-bd73-2a901bae5802
                    currency: BRL
                    date: '2021-07-06T12:34:02.000+00:00'
                    description: Boleto checkout
                    id: 4e425463-3e1b-431d-83fa-1e51c2925e99
                    merchant_code: MH4H92C7
                    merchant_name: Sample shop
                    pay_to_email: user@example.com
                    purpose: CHECKOUT
                    redirect_url: 'https://website.com'
                    status: PENDING
                    transactions:
                      - amount: 10.1
                        currency: BRL
                        entry_mode: BOLETO
                        id: debd2986-9852-4e86-8a8e-7ea9c87dd679
                        installments_count: 1
                        internal_id: 1763892018
                        merchant_code: MH4H92C9
                        payment_type: BOLETO
                        status: PENDING
                        timestamp: '2021-07-06T12:34:16.460+00:00'
                        tip_amount: 3
                        transaction_code: TEN3E696NP
                        vat_amount: 6
                CheckoutSuccessCard:
                  description: Successfully processed checkout with a card
                  value:
                    amount: 10.1
                    checkout_reference: f00a8f74-b05d-4605-bd73-2a901bae5802
                    currency: EUR
                    customer_id: 831ff8d4cd5958ab5670
                    date: '2020-02-29T10:56:56+00:00'
                    description: Purchase
                    id: 4e425463-3e1b-431d-83fa-1e51c2925e99
                    mandate:
                      merchant_code: MDASYTPD
                      status: active
                      type: recurrent
                    merchant_code: MH4H92C7
                    pay_to_email: user@example.com
                    return_url: 'http://example.com'
                    status: PENDING
                    transaction_code: TEENSK4W2K
                    transaction_id: 410fc44a-5956-44e1-b5cc-19c6f8d727a4
                    transactions:
                      - amount: 10.1
                        auth_code: '053201'
                        currency: EUR
                        entry_mode: CUSTOMER_ENTRY
                        id: 410fc44a-5956-44e1-b5cc-19c6f8d727a4
                        installments_count: 1
                        internal_id: 1763892018
                        merchant_code: MH4H92C7
                        payment_type: ECOM
                        status: SUCCESSFUL
                        timestamp: '2020-02-29T10:56:56.876Z'
                        tip_amount: 3
                        transaction_code: TEENSK4W2K
                        vat_amount: 6
                    valid_until: '2020-02-29T10:56:56+00:00'
                CheckoutSuccessSofort:
                  description: Successfully processed checkout with Sofort
                  value:
                    next_step:
                      full: 'https://r3.girogate.de/ti/sofortueberweisungmixed?tx=624786308&rs=MyFOScJ7I3iAmU4Wmalwb1bObT1st1b1&cs=364d0864ffa3602eb757b18326ffeb8be0c9c6e2ab7dcfebc1e2b0f6491eaae9'
                      mechanism:
                        - browser
                      method: GET
                      payload:
                        cs: 364d0864ffa3602eb757b18326ffeb8be0c9c6e2ab7dcfebc1e2b0f6491eaae9
                        rs: MyFOScJ7I3iAmU4Wmalwb1bObT1st1b1
                        tx: '624786308'
                      url: 'https://r3.girogate.de/ti/sofortueberweisungmixed'
                CheckoutSuccessToken:
                  description: Successfully processed checkout with a token
                  value:
                    amount: 10.1
                    checkout_reference: f00a8f74-b05d-4605-bd73-2a901bae5802
                    currency: EUR
                    customer_id: 831ff8d4cd5958ab5670
                    date: '2020-02-29T10:56:56+00:00'
                    description: Purchase with token
                    id: 4e425463-3e1b-431d-83fa-1e51c2925e99
                    merchant_code: MH4H92C7
                    merchant_name: Sample Merchant
                    pay_to_email: user@example.com
                    payment_instrument:
                      token: e76d7e5c-9375-4fac-a7e7-b19dc5302fbc
                    redirect_url: 'https://mysite.com/completed_purchase'
                    status: PENDING
                    transaction_code: TEENSK4W2K
                    transaction_id: 410fc44a-5956-44e1-b5cc-19c6f8d727a4
                    transactions:
                      - amount: 10.1
                        auth_code: '053201'
                        currency: EUR
                        entry_mode: CUSTOMER_ENTRY
                        id: 410fc44a-5956-44e1-b5cc-19c6f8d727a4
                        installments_count: 1
                        internal_id: 1763892018
                        merchant_code: MH4H92C7
                        payment_type: ECOM
                        status: SUCCESSFUL
                        timestamp: '2020-02-29T10:56:56.876Z'
                        tip_amount: 3
                        transaction_code: TEENSK4W2K
                        vat_amount: 6
                CheckoutSuccessiDeal:
                  description: Successfully processed checkout with iDeal
                  value:
                    next_step:
                      full: 'https://r3.girogate.de/ti/simideal?tx=961473700&rs=ILnaUeQTKJ184fVrjGILrLjePX9E4rmz&cs=c8bc0ea231f8372431ca22d6f8319f8de0263d0b1705759ed27155f245f193c5'
                      mechanism:
                        - browser
                      method: GET
                      payload:
                        cs: c8bc0ea231f8372431ca22d6f8319f8de0263d0b1705759ed27155f245f193c5
                        rs: ILnaUeQTKJ184fVrjGILrLjePX9E4rmz
                        tx: '961473700'
                      url: 'https://r3.girogate.de/ti/simideal'
              schema:
                $ref: '#/components/schemas/CheckoutSuccess'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Invalid_Parameter:
                  description: A required parameter has an invalid value.
                  value:
                    error_code: INVALID
                    message: Validation error
                    param: card.expiry_year
                Multiple_Invalid_Parameters:
                  description: Multiple required parameters have invalid values.
                  value:
                    - error_code: INVALID
                      message: Validation error
                      param: card.name
                    - error_code: INVALID
                      message: Validation error
                      param: card.number
                    - error_code: INVALID
                      message: Validation error
                      param: card.expiry_year
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorExtended'
                  - description: List of error messages.
                    items:
                      $ref: '#/components/schemas/ErrorExtended'
                    type: array
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                Checkout_Processed:
                  description: The identified checkout resource is already processed.
                  value:
                    error_code: CHECKOUT_PROCESSED
                    message: Checkout is already processed
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Checkouts
      x-codegen:
        method_name: process
  /v0.1/customers:
    post:
      operationId: CreateCustomer
      summary: Create a customer
      description: Creates a new saved customer resource which you can later manipulate and save payment instruments to.
      requestBody:
        description: Details of the customer.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                Existing_Customer:
                  description: A resource with the specified identifier already exists on the server.
                  value:
                    error_code: CUSTOMER_ALREADY_EXISTS
                    message: Customer already exists
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Customers
      x-codegen:
        method_name: create
      x-scopes:
        - payment_instruments
  '/v0.1/customers/{customer_id}':
    get:
      operationId: GetCustomer
      summary: Retrieve a customer
      description: 'Retrieves an identified saved customer resource through the unique `customer_id` parameter, generated upon customer creation.'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Customers
      x-codegen:
        method_name: get
      x-scopes:
        - payment_instruments
    parameters:
      - name: customer_id
        in: path
        description: Unique ID of the saved customer resource.
        required: true
        schema:
          type: string
    put:
      operationId: UpdateCustomer
      summary: Update a customer
      description: |
        Updates an identified saved customer resource's personal details.

        The request only overwrites the parameters included in the request, all other parameters will remain with their initially assigned values.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personal_details:
                  $ref: '#/components/schemas/PersonalDetails'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Customers
      x-codegen:
        method_name: update
      x-scopes:
        - payment_instruments
  '/v0.1/customers/{customer_id}/payment-instruments':
    get:
      operationId: ListPaymentInstruments
      summary: List payment instruments
      description: Lists all payment instrument resources that are saved for an identified customer.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentInstrumentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Customers
      x-codegen:
        method_name: list_payment_instruments
      x-scopes:
        - payment_instruments
    parameters:
      - name: customer_id
        in: path
        description: Unique ID of the saved customer resource.
        required: true
        schema:
          type: string
    post:
      operationId: CreatePaymentInstrument
      summary: Create a payment instrument
      description: |
        Creates and activates a new payment instrument resource by saving a payment card for an identified customer. Implement to improve customer experience by skipping the step of entering payment instrument details.

        The token created via this endpoint **can not** be used for recurring payments by merchants operating within the EU. For more information visit our [recurring payments guide](https://developer.sumup.com/docs/recurring-payments/).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInstrumentCard'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInstrumentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorExtended'
                  - description: List of error messages.
                    items:
                      $ref: '#/components/schemas/ErrorExtended'
                    type: array
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                Checkout_Processed:
                  description: 'The maximum number of payment instruments per customer is reached. Currently, the maximum allowed number is 4.'
                  value:
                    error_code: MAX_INSTRUMENT_COUNT
                    message: Max number of payment instruments on file reached
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Customers
      x-codegen:
        method_name: create_payment_instrument
      x-scopes:
        - payment_instruments
  '/v0.1/customers/{customer_id}/payment-instruments/{token}':
    delete:
      operationId: DeactivatePaymentInstrument
      summary: Deactivate a payment instrument
      description: Deactivates an identified card payment instrument resource for a customer.
      responses:
        '204':
          description: No Content
          content:
            application/json:
              examples:
                NoBody:
                  value: {}
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Customers
      x-codegen:
        method_name: deactivate_payment_instrument
      x-scopes:
        - payment_instruments
    parameters:
      - name: customer_id
        in: path
        description: Unique ID of the saved customer resource.
        required: true
        schema:
          type: string
      - name: token
        in: path
        description: Unique token identifying the card saved as a payment instrument resource.
        required: true
        schema:
          type: string
  /v0.1/me:
    get:
      operationId: GetAccount
      summary: Retrieve a profile
      description: Returns user profile information.
      parameters:
        - name: 'include[]'
          in: query
          description: A list of additional information you want to receive for the user. By default only personal and merchant profile information will be returned.
          schema:
            type: array
            items:
              enum:
                - settings
                - doing_business_as
                - bank_accounts
                - app_settings
                - country_details
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAccount'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Merchant
      x-codegen:
        method_name: get
      x-scopes:
        - user.profile
        - user.profile_readonly
  /v0.1/me/accounts:
    get:
      operationId: ListSubAccounts
      summary: List subaccounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subaccount'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
      tags:
        - Subaccounts
      x-codegen:
        method_name: list
      x-scopes:
        - user.subaccounts
    post:
      operationId: CreateSubAccount
      summary: Create a subaccount
      requestBody:
        content:
          application/json:
            schema:
              description: Details of the new employee
              type: object
              properties:
                password:
                  description: Password
                  type: string
                username:
                  description: Username of the new sub-account. Must be a valid email address.
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subaccount'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
      tags:
        - Subaccounts
      x-scopes:
        - user.subaccounts
  '/v0.1/me/accounts/{operator_code}':
    delete:
      operationId: DeactivateSubAccount
      summary: Deactivate a subaccount
      parameters:
        - name: operator_code
          in: path
          description: Operator code
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subaccount'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Subaccounts
      x-codegen:
        method_name: deactivate
      x-scopes:
        - user.subaccounts
    put:
      operationId: UpdateSubAccount
      summary: Update a subaccount
      parameters:
        - name: operator_code
          in: path
          description: Operator code
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Details of the new employee
              type: object
              properties:
                password:
                  description: Password
                  type: string
                username:
                  description: Username of the new sub-account. Must be a valid email address.
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subaccount'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Subaccounts
      x-codegen:
        method_name: update
      x-scopes:
        - user.subaccounts
  /v0.1/me/financials/payouts:
    get:
      operationId: ListPayouts
      summary: List payouts
      description: Lists ordered payouts for the merchant profile.
      parameters:
        - name: start_date
          in: query
          description: 'Start date (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).'
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: 'End date (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).'
          required: true
          schema:
            type: string
            format: date
        - name: format
          in: query
          schema:
            type: string
            enum:
              - json
              - csv
        - name: limit
          in: query
          schema:
            type: integer
        - name: order
          in: query
          schema:
            type: string
            enum:
              - desc
              - asc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialPayouts'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Payouts
      x-codegen:
        method_name: list
      x-scopes:
        - user.profile
        - user.profile_readonly
  /v0.1/me/financials/transactions:
    get:
      operationId: ListFinancialTransactions
      summary: List financial transactions
      description: Lists a less detailed history of all transactions associated with the merchant profile.
      parameters:
        - name: start_date
          in: query
          description: 'Start date (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).'
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: 'End date (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).'
          required: true
          schema:
            type: string
            format: date
        - name: format
          in: query
          schema:
            type: string
            enum:
              - json
              - csv
        - name: limit
          in: query
          schema:
            type: integer
        - name: order
          in: query
          schema:
            type: string
            enum:
              - desc
              - asc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialTransactions'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Transactions
      x-codegen:
        method_name: list
      x-scopes:
        - user.profile
        - user.profile_readonly
  /v0.1/me/merchant-profile:
    get:
      operationId: GetMerchantProfile
      summary: Retrieve a merchant profile
      description: Retrieves merchant profile data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantProfile'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
      tags:
        - Merchant
      x-codegen:
        method_name: get_merchant_profile
      x-scopes:
        - user.profile
        - user.profile_readonly
  /v0.1/me/merchant-profile/bank-accounts:
    get:
      operationId: ListBankAccounts
      summary: List bank accounts
      description: Retrives bank accounts of the merchant.
      parameters:
        - name: primary
          in: query
          description: The true value will return only the primary bank account (the one used for settlements).
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankAccount'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
      tags:
        - Merchant
      x-codegen:
        method_name: list_bank_accounts
      x-scopes:
        - user.payout-settings
        - user.profile
        - user.profile_readonly
  /v0.1/me/merchant-profile/doing-business-as:
    get:
      operationId: GetDoingBusinessAs
      summary: Retrieve DBA
      description: Retrieves Doing Business As profile.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoingBusinessAs'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Merchant
      x-codegen:
        method_name: get_doing_business_as
      x-scopes:
        - user.profile
        - user.profile_readonly
  /v0.1/me/merchant-profile/settings:
    get:
      operationId: GetSettings
      summary: Get settings
      description: Retrieves merchant settings.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantSettings'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                Forbidden:
                  description: You do not have required scopes for making this request.
                  value:
                    error_code: FORBIDDEN
                    error_message: request_not_allowed
                    status_code: '403'
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
      tags:
        - Merchant
      x-codegen:
        method_name: get_settings
      x-scopes:
        - user.payout-settings
  /v0.1/me/personal-profile:
    get:
      operationId: GetPersonalProfile
      summary: Retrieve a personal profile
      description: Retrieves personal profile data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalProfile'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Merchant
      x-codegen:
        method_name: get_personal_profile
      x-scopes:
        - user.profile
        - user.profile_readonly
  '/v0.1/me/refund/{txn_id}':
    parameters:
      - name: txn_id
        in: path
        description: Unique ID of the transaction.
        required: true
        schema:
          type: string
    post:
      operationId: RefundTransaction
      summary: Refund a transaction
      description: Refunds an identified transaction either in full or partially.
      requestBody:
        content:
          application/json:
            schema:
              description: Optional amount for partial refunds of transactions.
              type: object
              properties:
                amount:
                  description: 'Amount to be refunded. Eligible amount can''t exceed the amount of the transaction and varies based on country and currency. If you do not specify a value, the system performs a full refund of the transaction.'
                  type: number
                  format: float
      responses:
        '204':
          description: No Content
          content:
            application/json:
              examples:
                NoBody:
                  value: {}
              schema:
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                Transaction_Not_Refundable:
                  description: The state of the identified transaction resource does not permit the requested operation.
                  value:
                    error_code: CONFLICT
                    message: The transaction is not refundable in its current state
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Transactions
      x-codegen:
        method_name: refund
      x-scopes:
        - payments
  /v0.1/me/transactions:
    get:
      operationId: GetTransaction
      summary: Retrieve a transaction
      description: |
        Retrieves the full details of an identified transaction. The transaction resource is identified by a query parameter and *one* of following parameters is required:
         *  `id`
         *  `internal_id`
         *  `transaction_code`
         *  `foreign_transaction_id`
         *  `client_transaction_id`
      parameters:
        - name: id
          in: query
          description: Retrieves the transaction resource with the specified transaction ID (the `id` parameter in the transaction resource).
          schema:
            type: string
        - name: internal_id
          in: query
          description: Retrieves the transaction resource with the specified internal transaction ID (the `internal_id` parameter in the transaction resource).
          schema:
            type: string
        - name: transaction_code
          in: query
          description: Retrieves the transaction resource with the specified transaction code.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFull'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not_Found:
                  description: The identified resource is not found on the server.
                  value:
                    error_code: NOT_FOUND
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Transactions
      x-codegen:
        method_name: get
      x-scopes:
        - transactions.history
  /v0.1/me/transactions/history:
    get:
      operationId: ListTransactions
      summary: List transactions
      description: Lists detailed history of all transactions associated with the merchant profile.
      parameters:
        - name: transaction_code
          in: query
          description: Retrieves the transaction resource with the specified transaction code.
          schema:
            type: string
        - name: order
          in: query
          description: Specifies the order in which the returned results are displayed.
          schema:
            type: string
            default: ascending
            enum:
              - ascending
              - descending
        - name: limit
          in: query
          description: 'Specifies the maximum number of results per page. Value must be a positive integer and if not specified, will return 10 results.'
          schema:
            type: integer
        - name: users
          in: query
          description: Filters the returned results by user email.
          schema:
            type: array
            items:
              format: email
              type: string
        - name: statuses
          in: query
          description: Filters the returned results by the specified list of final statuses of the transactions.
          schema:
            type: array
            items:
              enum:
                - SUCCESSFUL
                - CANCELLED
                - FAILED
                - REFUNDED
                - CHARGE_BACK
              type: string
        - name: payment_types
          in: query
          description: Filters the returned results by the specified list of payment types used for the transactions.
          schema:
            type: array
            items:
              enum:
                - CASH
                - POS
                - ECOM
                - BALANCE
                - MOTO
                - BOLETO
                - UNKNOWN
              type: string
        - name: types
          in: query
          description: Filters the returned results by the specified list of transaction types.
          schema:
            type: array
            items:
              enum:
                - PAYMENT
                - REFUND
                - CHARGE_BACK
              type: string
        - name: changes_since
          in: query
          description: 'Filters the results by the latest modification time of resources and returns only transactions that are modified *at or after* the specified timestamp (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).'
          schema:
            type: string
            format: date-time
        - name: newest_time
          in: query
          description: 'Filters the results by the creation time of resources and returns only transactions that are created *before* the specified timestamp (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).'
          schema:
            type: string
            format: date-time
        - name: newest_ref
          in: query
          description: Filters the results by the reference ID of transaciton events and returns only transactions with events whose IDs are *smaller* than the specified value. This parameters supersedes the `newest_time` parameter (if both are provided in the request).
          schema:
            type: string
        - name: oldest_time
          in: query
          description: 'Filters the results by the creation time of resources and returns only transactions that are created *at or after* the specified timestamp (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).'
          schema:
            type: string
            format: date-time
        - name: oldest_ref
          in: query
          description: Filters the results by the reference ID of transaciton events and returns only transactions with events whose IDs are *greater* than the specified value. This parameters supersedes the `oldest_time` parameter (if both are provided in the request).
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransactionHistory'
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/Link'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: invalid access token
                Missing_Token:
                  description: No access token is provided.
                  value:
                    error_code: NOT_AUTHORIZED
                    message: access token required
                Not_Authorized_Token:
                  description: The access token is valid but the application is not authorized.
                  value:
                    error_code: NOT_AUTHORIZED
                    error_message: NOT_AUTHORIZED
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Transactions
      x-codegen:
        method_name: list_detailed
      x-scopes:
        - transactions.history
  '/v0.1/merchants/{merchant_code}/api-keys':
    get:
      operationId: ListAPIKeys
      summary: List API keys
      description: |
        Returns paginated list of API keys.
      parameters:
        - name: offset
          in: query
          description: Offset of the first key to return.
          schema:
            type: integer
            example: 0
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Maximum number of keys to return.
          schema:
            type: integer
            example: 10
            default: 10
            maximum: 25
            minimum: 1
        - name: merchant_code
          in: path
          required: true
          schema:
            type: string
            example: MC0X0ABC
      responses:
        '200':
          description: List of API keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeysList'
      tags:
        - API Keys
      x-permissions:
        - developer_settings.read
      x-scopes:
        - api_keys
    post:
      operationId: CreateAPIKey
      summary: Create an API key
      description: |
        Creates a new API key for the user.
      parameters:
        - name: merchant_code
          in: path
          required: true
          schema:
            type: string
            example: MC0X0ABC
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: New Key Name
                  maxLength: 255
                scopes:
                  $ref: '#/components/schemas/OAuth2Scopes'
              required:
                - name
                - scopes
      responses:
        '201':
          description: Created API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
      tags:
        - API Keys
      x-permissions:
        - developer_settings.write
      x-scopes:
        - 'api_keys:write'
  '/v0.1/merchants/{merchant_code}/api-keys/{key_id}':
    delete:
      operationId: RevokeAPIKey
      summary: Revoke an API key
      description: |
        Revokes an API key.
      parameters:
        - name: merchant_code
          in: path
          required: true
          schema:
            type: string
            example: MC0X0ABC
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            example: sup_pk_1tpmgSzNUHMkxZD1Kz2hdQorZAav6AcZ9
      responses:
        '204':
          description: Successful revocation.
      tags:
        - API Keys
      x-permissions:
        - developer_settings.write
      x-scopes:
        - 'api_keys:write'
    get:
      operationId: GetAPIKey
      summary: Retrieve an API Key
      description: |
        Gets an API key.
      parameters:
        - name: merchant_code
          in: path
          required: true
          schema:
            type: string
            example: MC0X0ABC
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            example: sup_pk_1tpmgSzNUHMkxZD1Kz2hdQorZAav6AcZ9
      responses:
        '200':
          description: API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
      tags:
        - API Keys
      x-permissions:
        - developer_settings.read
      x-scopes:
        - api_keys
    put:
      operationId: UpdateAPIKey
      summary: Update an API key
      description: |
        Updates an API key.
      parameters:
        - name: merchant_code
          in: path
          required: true
          schema:
            type: string
            example: MC0X0ABC
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            example: sup_pk_1tpmgSzNUHMkxZD1Kz2hdQorZAav6AcZ9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: New name for the API key.
                  type: string
                  example: My API Key
                  maxLength: 255
                scopes:
                  $ref: '#/components/schemas/OAuth2Scopes'
              required:
                - name
                - scopes
      responses:
        '204':
          description: Successful update.
      tags:
        - API Keys
      x-permissions:
        - developer_settings.write
      x-scopes:
        - 'api_keys:write'
  '/v0.1/merchants/{merchant_code}/payment-methods':
    get:
      operationId: GetPaymentMethods
      summary: Get available payment methods
      description: Get payment methods available for the given merchant to use with a checkout.
      parameters:
        - name: merchant_code
          in: path
          description: The SumUp merchant code.
          required: true
          schema:
            type: string
            example: M1234
        - name: amount
          in: query
          description: 'The amount for which the payment methods should be eligible, in major units. Note that currency must also be provided when filtering by amount.'
          schema:
            type: number
            example: 9.99
        - name: currency
          in: query
          description: The currency for which the payment methods should be eligible.
          schema:
            type: string
            example: EUR
      responses:
        '200':
          description: Available payment methods
          content:
            application/json:
              examples:
                success:
                  description: Available payment methods
                  value:
                    available_payment_methods:
                      - id: apple_pay
                      - id: sofort
              schema:
                type: object
                properties:
                  available_payment_methods:
                    type: array
                    items:
                      properties:
                        id:
                          description: The ID of the payment method.
                          type: string
                          example: qr_code_pix
                      required:
                        - id
                      type: object
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Invalid_Parameter:
                  description: One or more of the parameters are invalid.
                  value:
                    failed_constraints:
                      - message: Currency must also be specified when filtering by amount
                        reference: currency
                    status: 400
                    title: Bad Request
              schema:
                $ref: '#/components/schemas/DetailsError'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Invalid_Token:
                  description: The access token is invalid or has expired.
                  value:
[...]
